@charset "UTF-8";

body{
    background: #000;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    background-color: #5F9EA0;
    height: 180px;
    top: 0;
}

#divBusca{
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    width: 300px;
    height: 32px;
    margin-left: 78%;
    border-radius: 10px;
    margin-top: -150px;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
    border-radius:10px;
  }

nav{
    width: 80vw;
}

nav > ol > li{
    display: inline-block;
    height: 30px;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    
}

a:hover{
    background-color: purple;
    padding: 5px 5px;
    border-radius: 5px;
}

div#img-logo{
    margin-left: 685px;
    margin-top: 63px;
}

#logo{
    width: 99PX;
    height: 80PX;
    border-radius: 50%;
}

div.conteudo{
    background: url(../Img/fundo-conteudo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
}

p#conteudo{
    margin-top: 58px;
}
