@charset "UTF-8";

body{
    background: #000;
    margin: 0;
    padding: 0;
}

div#principal{
    display: grid;
}

header{
    display: grid;
    position: fixed;
    background-color: #5F9EA0;
    width: 100vw;
    height: 180px;
    top: 0;
}

#divBusca{
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    width: 300px;
    height: 32px;
    margin-left: 78%;
    border-radius: 10px;
    margin-top: -150px;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
    border-radius:10px;
  }

nav{
    width: 80vw;
}

nav > ol > li{
    display: inline-block;
    height: 30px;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    
}

a:hover{
    background-color: purple;
    padding: 5px 5px;
    border-radius: 5px;
}

div#img-logo{
    margin-left: 710px;
    margin-top: 63px;
}

#logo{
    width: 99PX;
    height: 80PX;
    border-radius: 50%;
}

div.conteudo{
    display: grid;
    background: url(../Img/fundo-conteudo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    margin-top: 215px;
}

div#page-colares{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 20px

}

.img-colares{
    border: 2px solid red;
    width: 30vw;
   
}

div#conteudo-entregas{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr) ;
    margin-top: 180px;
}

div#conteudo-01-entregas{
    background-color: blueviolet;
    border: 4px solid red;
    font-size: 1.5em;
    margin: 10px;
    padding: 40px;
}

div#conteudo-02-entregas{
    background-color: blueviolet;
    border: 4px solid red;
    font-size: 1.5em;
    margin: 10px;
    padding: 40px;
}

div#conteudo-03-entregas{
    background-color: teal;
    margin: 10px;
    padding: 40px;
}


